body {
    margin: 0px;
    text-align: center;
}
h1 {
    margin-top: 0px;
    font-family: MV Boli;
    font-size: 4.625rem;
}
P {
    font-family: Bahnschrift SemiBold;
}
.mountain {
    position: relative;
    right: 120px;
    top: 50px;
}


.top-container {
   background-color: rgb(255, 255, 255);
  

}
.Top-cloud{
    top: 200px;
    position: relative;
    left: 200px;
left: 400px;
right: 400px;
}
.Bottom-cloud{
    position: relative;
    right: 50px;
    bottom: 180px;
}